.star {
  color: yellow;
}

.weather {
  color: rgb(192, 54, 54);
}
.food {
  color: rgb(194, 16, 16);
}
.drink {
  color: rgb(23, 19, 77);
}
.color {
  color: rgb(136, 21, 113);
}
.season {
  color: rgb(130, 181, 42);
}
.work {
  color: rgb(86, 122, 212);
}
